<!doctype html>
<html lang="en">
  {% include "partials/head.html" %}
  <body {% if user.settings.dark_mode %} data-bs-theme="dark" {% endif %}>
    <div class="page">
      {% include "partials/sidebar.html" %}
      {% include "partials/navbar.html" %}
      <div class="page-wrapper">

        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <span class="avatar" style="background-image: url(/image/{{ app.inner.avatar }})"></span>
              </div>
              <div class="col">
                <div class="page-pretitle">
                  Application
                </div>
                <h2 class="page-title">
                  {{ app.inner.name }}
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="https://github.com/{{ app.inner.source_account }}/{{ app.inner.source_repo }}" class="btn d-none d-sm-inline-block" target="_blank">
                    View source on Github
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="datagrid">
                      <div class="datagrid-item">
                        <div class="datagrid-title">App ID</div>
                        <div class="datagrid-content">{{ app.inner.id }}</div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">App Name</div>
                        <div class="datagrid-content">{{ app.inner.name }}</div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Domain Name</div>
                        <div class="datagrid-content">{{ app.inner.domain }}</div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Managed Domain</div>
                        <div class="datagrid-content">false</div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Owner</div>
                        <div class="datagrid-content">
                          <div class="d-flex align-items-center">
                            <span class="avatar avatar-xs me-2 rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                            {{ app.owner }}
                          </div>
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Age</div>
                        <div class="datagrid-content">15 days</div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Edge network</div>
                        <div class="datagrid-content">
                          <span class="status status-green">
                            Active
                          </span>
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Avatars list</div>
                        <div class="datagrid-content">
                          <div class="avatar-list avatar-list-stacked">
                            <span class="avatar avatar-xs rounded" style="background-image: url(./static/avatars/000m.jpg)"></span>
                            <span class="avatar avatar-xs rounded">JL</span>
                            <span class="avatar avatar-xs rounded" style="background-image: url(./static/avatars/002m.jpg)"></span>
                            <span class="avatar avatar-xs rounded" style="background-image: url(./static/avatars/003m.jpg)"></span>
                            <span class="avatar avatar-xs rounded" style="background-image: url(./static/avatars/000f.jpg)"></span>
                            <span class="avatar avatar-xs rounded">+3</span>
                          </div>
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Checkbox</div>
                        <div class="datagrid-content">
                          <label class="form-check">
                            <input class="form-check-input" type="checkbox" checked="">
                            <span class="form-check-label">Click me</span>
                          </label>
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Icon</div>
                        <div class="datagrid-content">
                          <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-green"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
                          Checked
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Form control</div>
                        <div class="datagrid-content">
                          <input type="text" class="form-control form-control-flush" placeholder="Input placeholder">
                        </div>
                      </div>
                      <div class="datagrid-item">
                        <div class="datagrid-title">Machine</div>
                        <div class="datagrid-content">
                          <div id="app-machine-selector" class="col">
                            <div class="mb-3">
                              <select name="machine" type="text" class="form-select" id="select-app-machine"
                                 hx-post="/app/{{ app.inner.id }}/update" hx-trigger="change" hx-swap="none">
                                <option value="None"
                                {% if app.inner.machine.is_none() %}
                                selected="selected"
                                {% endif %}
                                >None</option>
                                {% for machine in machines %}
                                <option value="{{ machine.0 }}"
                                {% if let Some(app_machine) = app.inner.machine %}
                                {% if app_machine == machine.0.as_ref() %}
                                selected="selected"
                                {% endif %}
                                {% endif %}
                                >{{ machine.1 }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                
                <div class="card mb-3">
                  <div class="table-responsive">
                    <table class="table table-vcenter table-mobile-md card-table">
                      <thead>
                        <tr>
                          <th>Environment</th>
                          <th>Branch</th>
                          <th>Triggers</th>
                          <th class="w-1"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for env in app.inner.envs %}
                        <tr style="transform: rotate(0);">
                          <td data-label="Environment">
                            <div class="d-flex py-1 align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium">{{ env.name }}</div>
                                <div class="badge bg-green text-green-fg">{{ env.status }}</div>
                              </div>
                            </div>
                          </td>
                          <td data-label="Branch">
                            <div class="text-secondary">{{ env.branch }}</div>
                          </td>
                          <td class="text-secondary" data-label="Triggers">
                            test
                          </td>
                          <td>
                            <div class="btn-list flex-nowrap">
                              <a hx-get="/app/{{ app.inner.id }}/env/{{ env.handle }}/deploy" class="btn">
                                Deploy
                              </a>
                              <a href="/app/{{ app.inner.id }}/env/{{ env.handle }}" class="btn">
                                Edit
                              </a>
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>

                
                <div class="card">
                  <div class="card-body">
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
        <!-- end page body -->
        {% include "partials/footer.html" %}
      </div>
    </div>
    {% include "partials/modals/modals.html" %}
    {% include "partials/scripts.html" %}
  </body>
</html>
